.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    position: fixed;
    background-color: white;
    top: -1rem;
}





// .burger {
//     width: 30px;
//     margin: 1rem;
//     cursor: pointer;
// }



// .line {
//     display: flex;
//     justify-content: flex-start;
//     width: 37px;
//     height: 8px;
//     background-color: $color-primary-dark-2;


//     &:nth-child(2) {
//         margin: 6px auto;
//     }
// }


.popup {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 200;
    top: 70%;
    margin-top: 1rem;
    padding: 0 1rem;
    border-bottom: 1px solid white;
    // background-color: $color-primary-dark;
    visibility: hidden;
    margin-top: 2rem;


}


#menu__toggle:checked~.popup {
    visibility: visible;
    left: 0;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 4rem;
    left: 1rem;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 37px;
    height: 8px;
    background-color: $color-primary-dark-2;
}

.menu__btn>span::before {
    content: '';
    top: -10px;
    height: 8px;
}

.menu__btn>span::after {
    content: '';
    top: 10px;
    height: 8px;
}

// #menu__toggle:checked~.menu__btn>span {
//     transform: rotate(45deg);
// }

// #menu__toggle:checked~.menu__btn>span::before {
//     top: 0;
//     transform: rotate(0);
// }

// #menu__toggle:checked~.menu__btn>span::after {
//     top: 0;
//     transform: rotate(90deg);
// }



.close {
    position: absolute;
    top: 0;
    left: 1.5rem;
}

.close-icon {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}


.left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: #005880;
}


.menu-left {
    display: block;
    column-count: 2;
    // background-color: #005880;
    // flex: 1;
    padding: 14rem;
}

.none {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.menu-text {
    font-size: 2.7rem;
    font-weight: 700;
    color: white;
    text-decoration: none;


    &:hover {
        text-decoration: underline;
    }
}

.menu-right {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__top {
        display: flex;
        align-items: center;
        flex-basis: 40%;

        background: #989898;


        &--text {
            font-size: 1.6rem;
            color: white;
            padding: 4rem;
        }

    }

    &__bottom {
        flex-basis: 60%;
        background: #349BD0;
        padding-left: 13%;
        padding-top: 2.5rem;
        // padding-bottom: 2.5rem;
        list-style-type: none;

        & li {
            text-decoration: none;
        }

        & a {
            text-decoration: none;
        }
    }
}

.small-icon {
    width: 3.2rem;
    padding-right: 7px;
    vertical-align: middle;
    margin-right: 1rem;
}

.small-text {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.centerlogo {}


.sizelogo {
    width: 8rem;
    // margin-top: 1rem;
}


.search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #ffbd00;
    height: 3.7rem;
    width: 3.7rem;
    margin-right: 1rem;

    // &:focus,
    // &:active,
    // &:hover {
    //     &.se-text {
    //         background: #ffbd00;
    //         // width: auto;
    //         opacity: 1;
    //     }
    // }

    &:hover>.se-text {
        background: #ffbd00;
        width: auto;
        opacity: 1
    }
}

.se-text {
    display: block;
    margin-right: 14rem;
    background: transparent;
    width: 0;
    opacity: 0;
    border: none;
    height: 3.7rem;
    padding-left: 1rem;
    outline: none;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
    transform: all .5s;
}

.sizesearch {
    position: absolute;
    font-size: initial;
    color: white;
}

// .search .se-text:active {

//     opacity: 1;
//     margin-right: 16.8rem;
//     background: #ffbd00;
// }