.info {
  margin-top: 2.5rem;
  :last-child {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  &__text {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  &__text-container {
    margin-top: 2rem;
  }
}
