$color-primary-dark: #005881;
$color-primary: #428bca;
$color-primary-dark-2:#23527c;
$color-primary-light: #349bd0;
$color-primary-description: #999;
$color-black: #333;
$color-link: #428bca;
$color-grey-light: #ededed;
$color-border: #ddd;
$color-box: #d2d2d2;
$color-orange:#ff7900;
$color-orange-hover:#bf5804;